router bgp {{bgp_local_asn}}
 bgp router-id {{bgp_router_id}}
 neighbor {{bgp_neighbor}} remote-as {{remote_asn}}
 !
 address-family ipv4
  neighbor {{bgp_neighbor}} activate
 exit-address-family